USE [PruebaNexarte]
GO
/****** Object:  Table [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA]    Script Date: 29/11/2022 3:44:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA](
	[ID_REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](30) NULL,
	[FECHA] [datetime] NULL,
	[OPERACION] [nvarchar](10) NULL,
	[DESCRIPCION_EVENTO] [nvarchar](max) NULL,
 CONSTRAINT [PK_LOG_CONSULTA_NOM_NOMINA_DEFINITIVA] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOM_CONCEPTOS_NOMINA]    Script Date: 29/11/2022 3:44:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOM_CONCEPTOS_NOMINA](
	[ID_CONCEPTO] [int] IDENTITY(1,1) NOT NULL,
	[DESC_CONCEPTO] [nvarchar](100) NOT NULL,
	[COD_CONCEPTO] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NOM_CONCEPTOS_NOMINA] PRIMARY KEY CLUSTERED 
(
	[ID_CONCEPTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOM_EMPLEADOS]    Script Date: 29/11/2022 3:44:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOM_EMPLEADOS](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SOLICITUD] [int] NOT NULL,
 CONSTRAINT [PK_NOM_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOM_NOMINA_DEFINITIVA]    Script Date: 29/11/2022 3:44:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOM_NOMINA_DEFINITIVA](
	[REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[FCH_CRE] [datetime] NOT NULL,
	[ID_CONCEPTO] [int] NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[VAL_NOMINA] [money] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_NOM_NOMINA_DEFINITIVA] PRIMARY KEY CLUSTERED 
(
	[REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REG_SOLICITUDES_INGRESOS]    Script Date: 29/11/2022 3:44:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REG_SOLICITUDES_INGRESOS](
	[ID_SOLICITUD] [int] IDENTITY(1,1) NOT NULL,
	[DOCUMENTO] [nvarchar](25) NOT NULL,
	[APELLIDOS] [nvarchar](50) NOT NULL,
	[NOMBRES] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REG_SOLICITUDES_INGRESOS] PRIMARY KEY CLUSTERED 
(
	[ID_SOLICITUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA] ON 

INSERT [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA] ([ID_REGISTRO], [USUARIO], [FECHA], [OPERACION], [DESCRIPCION_EVENTO]) VALUES (1, N'Yiber', CAST(N'2022-11-29T06:24:30.170' AS DateTime), N'Consulta', N'Se consultan las nóminas del cliente con identificación : BA123328')
INSERT [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA] ([ID_REGISTRO], [USUARIO], [FECHA], [OPERACION], [DESCRIPCION_EVENTO]) VALUES (2, N'f', CAST(N'2022-11-29T06:25:08.647' AS DateTime), N'Consulta', N'Se consultan las nóminas del cliente con identificación : BA123328')
INSERT [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA] ([ID_REGISTRO], [USUARIO], [FECHA], [OPERACION], [DESCRIPCION_EVENTO]) VALUES (3, N'rrr', CAST(N'2022-11-29T06:25:23.227' AS DateTime), N'Consulta', N'Se consultan las nóminas del cliente con identificación : BA123328')
SET IDENTITY_INSERT [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA] OFF
GO
SET IDENTITY_INSERT [dbo].[NOM_CONCEPTOS_NOMINA] ON 

INSERT [dbo].[NOM_CONCEPTOS_NOMINA] ([ID_CONCEPTO], [DESC_CONCEPTO], [COD_CONCEPTO]) VALUES (1, N'Horas extras', N'001')
INSERT [dbo].[NOM_CONCEPTOS_NOMINA] ([ID_CONCEPTO], [DESC_CONCEPTO], [COD_CONCEPTO]) VALUES (2, N'Salario', N'002')
INSERT [dbo].[NOM_CONCEPTOS_NOMINA] ([ID_CONCEPTO], [DESC_CONCEPTO], [COD_CONCEPTO]) VALUES (3, N'Prestaciones sociales', N'003')
SET IDENTITY_INSERT [dbo].[NOM_CONCEPTOS_NOMINA] OFF
GO
SET IDENTITY_INSERT [dbo].[NOM_EMPLEADOS] ON 

INSERT [dbo].[NOM_EMPLEADOS] ([ID_EMPLEADO], [ID_SOLICITUD]) VALUES (1, 4)
INSERT [dbo].[NOM_EMPLEADOS] ([ID_EMPLEADO], [ID_SOLICITUD]) VALUES (2, 1)
INSERT [dbo].[NOM_EMPLEADOS] ([ID_EMPLEADO], [ID_SOLICITUD]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[NOM_EMPLEADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[NOM_NOMINA_DEFINITIVA] ON 

INSERT [dbo].[NOM_NOMINA_DEFINITIVA] ([REGISTRO], [FCH_CRE], [ID_CONCEPTO], [ID_EMPLEADO], [VAL_NOMINA], [CANTIDAD]) VALUES (1, CAST(N'2022-01-29T00:00:00.000' AS DateTime), 2, 1, 1200000.0000, 1)
INSERT [dbo].[NOM_NOMINA_DEFINITIVA] ([REGISTRO], [FCH_CRE], [ID_CONCEPTO], [ID_EMPLEADO], [VAL_NOMINA], [CANTIDAD]) VALUES (2, CAST(N'2022-02-28T00:00:00.000' AS DateTime), 1, 1, 134000.0000, 1)
INSERT [dbo].[NOM_NOMINA_DEFINITIVA] ([REGISTRO], [FCH_CRE], [ID_CONCEPTO], [ID_EMPLEADO], [VAL_NOMINA], [CANTIDAD]) VALUES (3, CAST(N'2022-05-14T00:00:00.000' AS DateTime), 4, 1, 430000.0000, 1)
SET IDENTITY_INSERT [dbo].[NOM_NOMINA_DEFINITIVA] OFF
GO
SET IDENTITY_INSERT [dbo].[REG_SOLICITUDES_INGRESOS] ON 

INSERT [dbo].[REG_SOLICITUDES_INGRESOS] ([ID_SOLICITUD], [DOCUMENTO], [APELLIDOS], [NOMBRES]) VALUES (1, N'BA123328', N'López Choconta', N'Yiber Eulices ')
INSERT [dbo].[REG_SOLICITUDES_INGRESOS] ([ID_SOLICITUD], [DOCUMENTO], [APELLIDOS], [NOMBRES]) VALUES (2, N'1002772323', N'Choconta Martinez', N'Miguel')
INSERT [dbo].[REG_SOLICITUDES_INGRESOS] ([ID_SOLICITUD], [DOCUMENTO], [APELLIDOS], [NOMBRES]) VALUES (3, N'1002772324', N'López Lemus', N'Mario')
SET IDENTITY_INSERT [dbo].[REG_SOLICITUDES_INGRESOS] OFF
GO
ALTER TABLE [dbo].[NOM_EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_SOLICITUD] FOREIGN KEY([ID_SOLICITUD])
REFERENCES [dbo].[REG_SOLICITUDES_INGRESOS] ([ID_SOLICITUD])
GO
ALTER TABLE [dbo].[NOM_EMPLEADOS] CHECK CONSTRAINT [FK_ID_SOLICITUD]
GO
ALTER TABLE [dbo].[NOM_NOMINA_DEFINITIVA]  WITH CHECK ADD  CONSTRAINT [FK_ID_CONCEPTO] FOREIGN KEY([ID_CONCEPTO])
REFERENCES [dbo].[NOM_CONCEPTOS_NOMINA] ([ID_CONCEPTO])
GO
ALTER TABLE [dbo].[NOM_NOMINA_DEFINITIVA] CHECK CONSTRAINT [FK_ID_CONCEPTO]
GO
ALTER TABLE [dbo].[NOM_NOMINA_DEFINITIVA]  WITH CHECK ADD  CONSTRAINT [FK_ID_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[NOM_EMPLEADOS] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[NOM_NOMINA_DEFINITIVA] CHECK CONSTRAINT [FK_ID_EMPLEADO]
GO
/****** Object:  StoredProcedure [dbo].[USP_CONSULTA_NOMINA_POR_DOCUMENTO]    Script Date: 29/11/2022 3:44:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CONSULTA_NOMINA_POR_DOCUMENTO] 
	@DOC_IDENTIDAD VARCHAR(50),
	@Evento NUMERIC (5),
	@Usuario VARCHAR(50) = ADMIN,
	@REGISTRO_NOM_NOMINA_DEFINITIVA NUMERIC(18) = NULL,
	@ID_CONCEPTO INT = NULL,
	@VAL_NOMINA MONEY = NULL,
	@CANTIDAD INT = NULL
AS
BEGIN
	SET LANGUAGE us_english;  

	DECLARE @OPERACION NVARCHAR(50),@DESCRIPCION_EVENTO NVARCHAR(MAX);

	IF @Evento = 1 BEGIN
		SET @OPERACION='Consulta';
		SET @DESCRIPCION_EVENTO = CONCAT('Se consultan las nóminas del cliente con identificación : ', @DOC_IDENTIDAD) ;

		SELECT [NND].[REGISTRO]
			,[NCN].[COD_CONCEPTO]
			,[NCN].[DESC_CONCEPTO]
			,[NE].[ID_EMPLEADO]
			,[RSI].[DOCUMENTO] 
			,[RSI].[APELLIDOS]
			,[RSI].[NOMBRES]	  
			,[NND].[VAL_NOMINA]
			,[NND].[CANTIDAD]	  
		FROM [dbo].[REG_SOLICITUDES_INGRESOS] AS [RSI] 
		INNER JOIN [dbo].[NOM_EMPLEADOS] AS [NE] ON ([RSI].[ID_SOLICITUD] = [NE].[ID_SOLICITUD])
		INNER JOIN [dbo].[NOM_NOMINA_DEFINITIVA] AS [NND] ON ([NE].[ID_EMPLEADO] = [NND].[ID_EMPLEADO] )
		INNER JOIN [dbo].[NOM_CONCEPTOS_NOMINA] AS [NCN] ON ([NND].[ID_CONCEPTO] = [NCN].[ID_CONCEPTO] )
		WHERE [NND].[FCH_CRE] >= CONVERT(DATETIME, '01/01/2014', 101) AND [RSI].[DOCUMENTO] = @DOC_IDENTIDAD;
	END;

	IF @Evento = 2 BEGIN

		SET @OPERACION='Actualizar';
		SET @DESCRIPCION_EVENTO = CONCAT('Se actualiza la nómina "',@REGISTRO_NOM_NOMINA_DEFINITIVA,'"  del cliente con identificación :', @DOC_IDENTIDAD) ;

		UPDATE [dbo].[NOM_NOMINA_DEFINITIVA]
		SET [ID_CONCEPTO] = @ID_CONCEPTO
			,[VAL_NOMINA] = @VAL_NOMINA
			,[CANTIDAD] = @CANTIDAD
		WHERE [REGISTRO] = @REGISTRO_NOM_NOMINA_DEFINITIVA AND
		EXISTS (SELECT [RSI].[DOCUMENTO] 
			FROM [dbo].[REG_SOLICITUDES_INGRESOS] AS [RSI] 
			INNER JOIN [dbo].[NOM_EMPLEADOS] AS [NE] ON ([RSI].[ID_SOLICITUD] = [NE].[ID_SOLICITUD])
			INNER JOIN [dbo].[NOM_NOMINA_DEFINITIVA] AS [NND] ON ([NE].[ID_EMPLEADO] = [NND].[ID_EMPLEADO] )
			WHERE [RSI].[DOCUMENTO] = @DOC_IDENTIDAD
		); 		
	END;
	
	IF @Evento = 3 BEGIN

		SET @OPERACION='Eliminar';
		SET @DESCRIPCION_EVENTO = CONCAT('Se elimina la nómina "',@REGISTRO_NOM_NOMINA_DEFINITIVA,'"  del cliente con identificación :', @DOC_IDENTIDAD) ;

		DELETE FROM [dbo].[NOM_NOMINA_DEFINITIVA] WHERE [REGISTRO] = @REGISTRO_NOM_NOMINA_DEFINITIVA AND
		EXISTS (SELECT [RSI].[DOCUMENTO] 
			FROM [dbo].[REG_SOLICITUDES_INGRESOS] AS [RSI] 
			INNER JOIN [dbo].[NOM_EMPLEADOS] AS [NE] ON ([RSI].[ID_SOLICITUD] = [NE].[ID_SOLICITUD])
			INNER JOIN [dbo].[NOM_NOMINA_DEFINITIVA] AS [NND] ON ([NE].[ID_EMPLEADO] = [NND].[ID_EMPLEADO] )
			WHERE [RSI].[DOCUMENTO] = @DOC_IDENTIDAD
		); 		
	END;

	INSERT INTO [dbo].[LOG_CONSULTA_NOM_NOMINA_DEFINITIVA]
           ([USUARIO]
           ,[FECHA]
           ,[OPERACION]
           ,[DESCRIPCION_EVENTO])
     VALUES
           (@Usuario
           ,GETDATE()
           ,@OPERACION
           ,@DESCRIPCION_EVENTO);
END;
GO
